// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset
@import "normalize.less";
@import "print.less";
@import "scaffolding.less";

// utilities
@import "type.less";
//@import "code.less";
@import "utilities.less";

// highlight.js styles
@import "default.css";
@import "tomorrow-night-bright.css";

// our main stylehseet


body {
  font-family: 'PT Sans', sans-serif;
}

.slide {
  .prose {
    margin: 1em auto
  }
  pre {
    height: 440px;
    .text-left;
    position: absolute;
    bottom: 81px;
    left: 61px;
    width: 772px;
    overflow: auto;
  }

  pre.inline-example {
  position: initial; 
}
  ul { list-style: circle; }
  ul li {
    line-height: 2em;
    margin-left: 1.5em;
  }

  .filename {
    .text-primary;
    position: absolute;
    bottom: 41px;
    right: 61px;
  }
}
.step { 
  pre code {
    .text-left;
    font-family: 'PT Mono';
    font-size: 18px;
    line-height: 22px;
    border-radius: 10px
  }
  h2 {
    font-family: 'Open Sans', Arial, sans-serif;

    font-size: 78px;
    font-weight: bold;
  }
  img {
    display: block;
    margin: 1em auto;
  }


  .command {
    .text-center;
    display: inline;
    font-size: 26px;
    line-height: 32px;

  }

  h2 {
    .text-center;
    text-transform: uppercase;
    font-size: 68px;
  }
  iframe {
    border-radius: 10px;
    overflow: hidden;
  }
}
