extends slide

prepend content
  img.pull-left(src='/img/grunt-logo.png')

block prose
  :markdown
    While we will be providing the commands used to
    compile these files, this presentation actually
    uses [Grunt](http://gruntjs.com) to build the various
    components.

    It is more suited to complex build setups.
