extends slide

block prose
  :markdown
    * Also supports many of the builtin node modules.
      * path
      * url
      * events
      * stream
      * buffer
      * crypto
    * automatically adds globals when used
      * __filename
      * __dirname
      * Buffer

