extends slide

block prose
  :markdown
    * Not everything is found in npm.
    * More and more, things are found in bower too.
    * Many modules have different module formats.
    * Transforms and other tools.
      * debowerify: look up packages from bower_components
      * deamdify: use AMD packages as if they were commonJS.
      * browserify-shim: Wrap packages that use globals.

