extends slide

block prose
  :markdown
    * Not everything is found in npm.
    * More and more, things are found in bower too.
    * Many modules have different module formats.
    * Transforms and other tools.
      * debowerify
      * deamdify
      * browserify-shim

