extends slide

block prose
  :markdown
    * Passes your code through a compilation/transform step.
    * Can have more than one of them at a time.
    * The order specified is important.
    * Supports many different formats.
      * Coffeescript.
      * Most template languages.
      * brfs - require file directly as text.
