extends slide

block prose
  :markdown
    * Don't put it all in one bundle.
    * Considered good practice to have a vendor bundle.
    * Bundles can 'expose' or 'alias' modules.
    * Other bundles are told about 'externals', defined elsewhere.
    * Can concatenate it later.
